body{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(120deg, #6c4383, #58d68d);
  height: 100vh;
}

input{
  width: 96%;
  padding: 15px;
  margin: 5px 0 25px 0;
  border: none;
  background: #f1f1f1;
  align-items: center;
}

.titulo{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.textos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 15px 20px;
  margin: 8px 90px;
  border: none;
  cursor: pointer;
  width: 90%;
  opacity: 0.9;
  border-radius: 20px;
}

button:hover {
  opacity:5;
  color: black;
}

.cancelar {
  background-color: #f44336;
}

.cancelar, .iniciarSesion {
  float: left;
  width: 50%;
}

.contenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: white;
  border-radius: 10px;
  padding: 16px;
}

.botones::after {
  content: "";
  clear: both;
  display: table;
}
